a {
    border-bottom: 2px solid var(--color-eucaplyptus);
    
}

button{
    background: var(--color-eucaplyptus);
    padding: 1rem;
}

span{
    border-bottom: 2px solid var(--color-eucaplyptus);
}

.phone{
   position: relative;
   top: 50px;
}

li{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1rem;
}

.list__number{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 10px;
    text-align: center;
}