:root {
	--color-dark-purple: #24053e;
	--color-davys-grey: #584d62;
	--color-eucaplyptus: #44ffa1;
	--color-ghost-white: #fcf8ff;
	--color-white: #ffffff;
}
.text-style-heading-l {
	font-size: 80px;
	font-family: "Fraunces 144pt";
	font-weight: 600;
	font-style: normal;
	line-height: 80px;
	text-decoration: none;
	text-transform: none;
}
.text-style-heading-m {
	font-size: 56px;
	font-family: "Fraunces 144pt";
	font-weight: 600;
	font-style: normal;
	line-height: 64px;
	text-decoration: none;
	text-transform: none;
}
.text-style-heading-s {
	font-size: 32px;
	font-family: "Fraunces 144pt";
	font-weight: 600;
	font-style: normal;
	line-height: 40px;
	text-decoration: none;
	text-transform: none;
}
.text-style-body {
	font-size: 18px;
	font-family: "Manrope";
	font-weight: 400;
	font-style: normal;
	line-height: 32px;
	text-decoration: none;
	text-transform: none;
}