header {
    

    border-bottom-left-radius: 100% 10%;
    border-bottom-right-radius: 100% 10%;
    /* z-index: 10; */
}

button:hover{
    border: 1px solid #44FFA1;
}

.number{
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
    
    

